[Unit]
Description=Intersystems Cache daemon
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash -c "{{ inst_dir }}/cache start"
ExecStop=/bin/bash -c "{{ inst_dir }}/cache stop"
ExecReload=/bin/bash -c "{{ inst_dir }}/cache restart"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=cache.service

